.gradient_text {
    font-size: 28px;
    background: -webkit-linear-gradient(rgb(188, 12, 241), rgb(212, 4, 4));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}